<h4>Input a NOTAM text string</h4>
<%= form_tag(notams_output_path, method: "post") do %>
	<div class="form-group">
		<%= text_area_tag :input, nil, :class => 'form-control' %>
	</div>
	<div class="form-group">
		<%= submit_tag 'Submit', :class => 'btn btn-info' %>
	</div>
<% end %>