<h4>Notam output:</h4>
<table class="table table-condensed">
	<thead>
		<th>
			ICAO
		</th>
		<th>
			Monday
		</th>
		<th>
			Tuesday
		</th>
		<th>
			Wednesday
		</th>
		<th>
			Thursday
		</th>
		<th>
			Friday
		</th>
		<th>
			Saturday
		</th>
		<th>
			Sunday
		</th>
	</thead>
	<tbody>
		<% @notams.each do |n| %>
			<tr>
				<td>
					<%= n["ICAO"] %>
				</td>
				<td>
					<%= n["MON"] %>
				</td>
				<td>
					<%= n["TUE"] %>
				</td>
				<td>
					<%= n["WED"] %>
				</td>
				<td>
					<%= n["THU"] %>
				</td>
				<td>
					<%= n["FRI"] %>
				</td>
				<td>
					<%= n["SAT"] %>
				</td>
				<td>
					<%= n["SUN"] %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<%= link_to "Back", root_path, :class => 'btn btn-info' %>